
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: $text-color-primary;
}

.heading-primary {
    font-family: 'Architects Daughter', cursive;
    font-size: 4rem;
    display: inline-block;
    color: $color-white;
}