.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color-black, 0.7);
  pointer-events: none;
  z-index: 5;
  opacity: 0;
  transition: opacity 0.3s;

  &.active {
    pointer-events: all;
    opacity: 1;
  }
}
