.total-container {
    margin: auto;
    width: 100%;
    padding-right: 6rem;
    font-size: 1.6rem;
    text-align: right;
    display: flex;
    justify-content: flex-end;

    & th {
        padding: .3rem;
    } 

    & td {
        padding: .3rem;
        font-size: 1.4rem;
    }
}
